@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 768px;
    margin-top: 84px;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
}

/* general properties start */

.light_color {
    color: #f5f5f5; /* Very light gray */
}

.light_background_color {
    background-color: #f5f5f5; /* Very light gray */
}

.light_border_top_color {
    border-top: 1px solid #f5f5f5; /* Very light gray */
}

.light_border_bottom_color {
    border-bottom: 1px solid #f5f5f5; /* Very light gray */
}

.light_border_left_color {
    border-left: 1px solid #f5f5f5; /* Very light gray */
}

.light_border_right_color {
    border-right: 1px solid #f5f5f5; /* Very light gray */
}

.dark_color {
    color: #233342; /* Very dark desaturated blue */
}

.dark_background_color {
    background-color: #233342; /* Very dark desaturated blue */
}

.dark_border_top_color {
    border-top: 1px solid #233342; /* Very dark desaturated blue */
}

.dark_border_bottom_color {
    border-bottom: 1px solid #233342; /* Very dark desaturated blue */
}

.dark_border_left_color {
    border-left: 1px solid #233342; /* Very dark desaturated blue */
}

.dark_border_right_color {
    border-right: 1px solid #233342; /* Very dark desaturated blue */
}

.red_color {
    color: #ff0000; /* Very light gray */
}

/* general properties end */
